<div class="cards-section-wrapper container pb-5">
	<div class="container px-4 mt-5">
		<div class="row">
			<div class="col-md-12 text-center mb-4">
				<h2 class="text-uppercase fs-3">New additions</h2>
			</div>
		</div>
		<div class="row justify-content-center g-4" id="cardsNewAdditions">
			<!-- Card -->
		</div>
	</div>
	<div class="container px-4 mt-5">
		<div class="row">
			<div class="col-md-12 text-center mb-4">
				<h2 class="text-uppercase fs-3">Best Seller</h2>
			</div>
		</div>
		<div class="row justify-content-center g-4" id="cardsBestSellers">
			<!-- Cards -->
		</div>
		<div class="text-center">
			<a href="#all-products">
				<button
					class="btn btn-primary text-uppercase px-3 rounded fs-5 my-5 m-0"
					type="button"
				>
					<i class="bi bi-stars"></i> See all Ploducts
					<i class="bi bi-stars"></i>
				</button>
			</a>
		</div>
	</div>
</div>
