<div class="hero">
	<!-- Hero Banner -->
	<section class="hero-banner">
		<img
			class="hero-img border-accent-bottom"
			src="./../../images/hero-banner.jpg"
			alt=""
		/>
	</section>
	<h1 class="text-center my-3">Welcome to Dream Plants!</h1>
	<div class="text-center">
		<a href="#all-products">
			<button
				class="btn btn-primary text-uppercase px-3 rounded fs-5 my-3 m-0"
				type="button"
			>
				<i class="bi bi-stars"></i> All Ploducts
				<i class="bi bi-stars"></i>
			</button>
		</a>
	</div>
</div>
