<div class="hero">
	<!-- Hero Banner -->
	<section class="hero-banner">
		<img
			class="hero-img border-accent-bottom"
			src="./../../images/hero-banner.webp"
			alt=""
		/>
	</section>
	<!-- Search Bar -->
	<!-- <section class="hero-search mt-4 mb-4">
		<div class="h-100">
			<div class="mask d-flex align-items-center h-100">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-lg-8 col-xl-7 mx-auto px-4">
							<div class="card">
								<div class="card-header">
									<div class="input-group input-group-lg">
										<input
											type="text"
											class="form-control form-control-lg"
											placeholder="Type Keywords"
											aria-label="Type Keywords"
										/>
										<span class="input-group-text">
											<i class="bi bi-search"></i>
										</span>
									</div>
								</div>

								<div class="card-body p-4">
									<div
										class="text-uppercase pt-2 pb-2 fw-bold"
										data-bs-toggle="collapse"
										data-bs-target="#advancedSearch"
										role="button"
										aria-expanded="false"
										aria-controls="advancedSearch"
									>
										ADVANCED SEARCH
									</div>

									<div
										class="collapse mt-4"
										id="advancedSearch"
									>
										<div class="row">
											<div class="col-md-4 mb-3">
												<div class="dropdown">
													<div
														class="btn btn-outline-info btn-lg w-100 dropdown-toggle"
														data-bs-toggle="dropdown"
													>
														Categories
													</div>
													<ul class="dropdown-menu">
														<li>
															<div
																class="dropdown-item"
															>
																Action
															</div>
														</li>
														<li>
															<div
																class="dropdown-item"
															>
																Another action
															</div>
														</li>
														<li>
															<div
																class="dropdown-item"
															>
																Something else
																here
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-4 mb-3">
												<div class="dropdown">
													<div
														class="btn btn-outline-info btn-lg w-100 dropdown-toggle"
														data-bs-toggle="dropdown"
													>
														Pot Color
													</div>
													<ul class="dropdown-menu">
														<li>
															<div
																class="dropdown-item"
															>
																Action
															</div>
														</li>
														<li>
															<div
																class="dropdown-item"
															>
																Another action
															</div>
														</li>
														<li>
															<div
																class="dropdown-item"
															>
																Something else
																here
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-4 mb-3">
												<div class="dropdown">
													<div
														class="btn btn-outline-info btn-lg w-100 dropdown-toggle"
														data-bs-toggle="dropdown"
													>
														Plant Size
													</div>
													<ul class="dropdown-menu">
														<li>
															<div
																class="dropdown-item"
															>
																Action
															</div>
														</li>
														<li>
															<div
																class="dropdown-item"
															>
																Another action
															</div>
														</li>
														<li>
															<div
																class="dropdown-item"
															>
																Something else
																here
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-4 mb-3">
												<div class="">
													<div
														class="btn btn-outline-info btn-lg w-100"
													>
														Sale
													</div>
												</div>
											</div>
										</div>

										<div
											class="d-flex justify-content-between align-items-center mt-4"
										>
											<p class="mb-0">
												<span class="text-info-self"
													>TEST</span
												>
												results
											</p>
											<div>
												<button
													type="button"
													class="btn btn-link"
													data-mdb-ripple-color="dark"
												>
													Reset
												</button>
												<button
													type="button "
													class="btn btn-primary"
												>
													Search
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<h1 class="text-center my-3">Welcome to Dream Plants!</h1>
	<div class="text-center">
		<a href="#all-products">
			<button
				class="btn btn-primary text-uppercase px-3 rounded fs-5 my-3 m-0"
				type="button"
			>
				<i class="bi bi-stars"></i> All Ploducts
				<i class="bi bi-stars"></i>
			</button>
		</a>
	</div>
</div>
