<div class="container py-4 mt-5 mb-3 border-top-gold">
	<div class="row justify-content-between">
		<!-- Left: Navigation -->
		<div class="col-12 col-sm-6 text text-center text-sm-start">
			<ul class="list-unstyled mb-0">
				<li>
					<a href="#home" class="text-decoration-none">Home</a>
				</li>
				<li>
					<a href="#shop" class="text-decoration-none">Shop</a>
				</li>
				<li>
					<a href="#about" class="text-decoration-none">About Us</a>
				</li>
				<li>
					<a href="#contact" class="text-decoration-none">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Right: Legal -->
		<div class="col-12 col-sm-6 text-center text-sm-end">
			<ul class="list-unstyled">
				<li>
					<a href="#impressum" class="text-decoration-none"
						>Impressum</a
					>
				</li>
				<li>
					<a href="#privacy" class="text-decoration-none"
						>Privacy Policy</a
					>
				</li>
				<li>
					<a href="#terms" class="text-decoration-none"
						>Terms & Conditions</a
					>
				</li>
			</ul>
		</div>
	</div>
	<div class="text-center">Copyright</div>
</div>
