<div class="container py-4">
	<div class="row justify-content-center text-center">
		<!-- Card -->
		<div class="card col-12 col-sm-6 col-md-4 d-flex">
			<i class="p-4 bi bi-truck"></i>
			<div class="card-body">
				<p class="card-text">Free Shipping</p>
				<p class="card-text m-0">
					Within Austria and throughout Europe
				</p>

				<p class="card-text">
					from
					<span id="shippingPriceChange"></span>
					purchase value
				</p>
			</div>
		</div>
		<!-- Card -->
		<div class="card col-12 col-sm-6 col-md-4 d-flex">
			<i class="p-4 bi bi-flower3"></i>
			<div class="card-body">
				<p class="card-text">Latest plant trends</p>
				<p class="card-text">
					You can find the most beautiful and latest houseplant trends
					here
				</p>
			</div>
		</div>
		<!-- Card -->
		<div class="card col-12 col-sm-6 col-md-4 d-flex">
			<i class="p-4 bi bi-star"></i>
			<div class="card-body">
				<p class="card-text">Plants of the best quality</p>
				<p class="card-text">
					Healthy plants in the best condition including plant
					guarantee
				</p>
			</div>
		</div>
	</div>
</div>
